@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

}
.navbar-expand-lg {
	background: green;
}

.nav { background: blue;
}
.nav-link {
	color:chartreuse;
}
.nav-link:hover {
	color: white;
}
.my-container {
    color: red;
    border: 1px solid blue;
    background-color: lightblue;
    padding: 0.5em;
    text-align: center;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}
#my-id {
    color: #51C561;
    font-size: xx-large;
    text-align: center;
    text-shadow: -1px 0px 36px;
}
.my-class {
    font-size: x-large;
    color: green;
	font-family: 'DotGothic16', sans-serif;
}
.amy-sasa {
    text-align: center;
    font-size: small;
	
}
body {
    background-image: url(../images/beanmeme.jpg);               
}
.my-image {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
}
my-link {
    text-align: right;
}

footer { color: aliceblue;
background-color: greenyellow}
