@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-container {
    color: red;
    border: 1px solid blue;
    background-color: lightblue;
    padding: 0.5em;
    text-align: center;
}
#my-id {
    color: #51C561;
    font-size: xx-large;
    text-align: center;
    text-shadow: -1px 0px 36px;
}
.my-class {
    font-size: x-large;
    color: green;
}
.amy-sasa {
    text-align: center;
    font-size: small;
	
}
body {
    background-image: url(../images/beanmeme.jpg);               
}
